<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myBatisManageList">
    <insert id="insertSeedInfo" parameterType="hMap">
        INSERT INTO SEED_INFO
        (
        	SEED_ID,
        	SITE_ID,
        	SEED_TYPE,
        	CRL_TYPE,
        	CHANNEL_ID,
        	WRITER_NAME,
        	WRITER_ID,
        	FRIENDS_CNT,
        	ACTIVE_YN,
        	LANGUAGE,
        	LOCATION,
        	TIMEZONE,
        )
        VALUES
        (
			#{seedId, jdbcType=VARCHAR},
			#{siteType, jdbcType=INTEGER},
			#{seedType, jdbcType=INTEGER},
			#{crawlType, jdbcType=INTEGER},
			#{channelId, jdbcType=INTEGER},
			#{writerName, jdbcType=VARCHAR},
			#{writerId, jdbcType=VARCHAR},
			#{friendsCnt, jdbcType=INTEGER},
			#{active, jdbcType=CHAR},
			#{language, jdbcType=VARCHAR},
			#{location, jdbcType=VARCHAR},
			#{timezone, jdbcType=VARCHAR}
        )
    </insert>
    
    <update id="updateSeedInfo" parameterType="hMap">
		UPDATE SEED_INFO
		<set>
    		<if test="jobStatus != null">AVG_UPD_TIME=#{jobStatus},</if>
    		<if test="lastVisitDate != null">LAST_VISIT_DATE=#{lastVisitDate},</if>
    		<if test="lastDocDate != null">LAST_DOC_DATE=#{lastDocDate},</if>
    		<if test="friendsCnt != null">FRIENDS_CNT=#{friendsCnt},</if>
    		<if test="visitCnt != null">VISIT_CNT=#{visitCnt},</if>
    		<if test="docCnt != null">DOC_CND=#={docCnt},</if>
    		<if test="avgUpdTime != null">AVG_UPD_TIME=#{avgUpdTime}</if>
    	</set>
    	WHERE SEED_ID=#{seedId}
    	AND SITE_ID=#{siteId}
    </update>
   <!-- 
    <update id="updateAverageUpdateTime" parameterType="hMap">
    	UPDATE SEED_INFO
    	SET AVG_UPD_TIME=#{jobStatus},
    		LAST_VISIT_DATE=#{lastVisitDate},
    		FRIENDS_CNT=#{friendsCnt},
    		VISIT_CNT=#{visitCnt},
    		DOC_CND=#={docCnt}
    	WHERE SEED_ID=#{seedId}
    	AND SITE_ID=#{siteId}
    </update>
    
    <update id="updateLastVisitDate" parameterType="hMap">
    	UPDATE SEED_INFO
    	SET AVG_UPD_TIME=#{jobStatus},
    		LAST_VISIT_DATE=#{lastVisitDate},
    		FRIENDS_CNT=#{friendsCnt},
    		VISIT_CNT=#{visitCnt},
    		DOC_CND=#={docCnt}
    	WHERE SEED_ID=#{seedId}
    	AND SITE_ID=#{siteId}
    </update>
    
    <update id="updateVisitCount" parameterType="hMap">
    	UPDATE SEED_INFO
    	SET AVG_UPD_TIME=#{jobStatus},
    		LAST_VISIT_DATE=#{lastVisitDate},
    		FRIENDS_CNT=#{friendsCnt},
    		VISIT_CNT=#{visitCnt},
    		DOC_CND=#={docCnt}
    	WHERE SEED_ID=#{seedId}
    	AND SITE_ID=#{siteId}
    </update>
    
    <update id="updateDocCount" parameterType="hMap">
    	UPDATE SEED_INFO
    	SET	DOC_CND=#={docCnt}
    	WHERE SEED_ID=#{seedId}
    	AND SITE_ID=#{siteId}
    </update>
    
    <update id="updateLanguage" parameterType="hMap">
    	UPDATE SEED_INFO
    	SET LANGUAGE=#{language}
    	WHERE SEED_ID=#{seedId}
    	AND SITE_ID=#{siteId}
    </update>
    
    <update id="updateLocation" parameterType="hMap">
    	UPDATE SEED_INFO
    	SET LOCATION=#{location}
    	WHERE SEED_ID=#{seedId}
    	AND SITE_ID=#{siteId}
    </update>
    
    <update id="updateTimeZone" parameterType="hMap">
    	UPDATE SEED_INFO
    	SET TIMEZONE=#{timeZone}
    	WHERE SEED_ID=#{seedId}
    	AND SITE_ID=#{siteId}
    </update>
    
 
    <update id="updateEndStatus" parameterType="AnalWorkManager">
    	UPDATE ANALS_WORK_HIT_INFO
    	SET ANALS_WORK_STTUS_CODE=#{jobStatus},
    		ANALS_ENDDE_HOUR=#{analEndDate},
    		ERROR_CN=#{errorMsg}
    	WHERE TPIC_SN=#{topicSequnceNumber}
    	AND ANALS_BGNDE_HOUR=#{StringAnalBeginDate}
    </update>
     -->
    
</mapper>