<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myBatisSelectList">
	<resultMap type="seed" id="resultMap">
		<result property="siteId" column="SITE_ID" javaType="int"/>
		<result property="seedId" column="SEED_ID" javaType="java.lang.String"/>
		<result property="seedType" column="SEED_TYPE" javaType="int"/>
		<result property="crlType" column="CRL_TYPE" javaType="int"/>
		<result property="channelId" column="CHANNEL_ID" javaType="int"/>
		<result property="cursor" column="CURSOR" javaType="java.lang.String"/>
		<result property="writerName" column="WRITER_NAME" javaType="java.lang.String"/>
		<result property="writerId" column="WRITER_ID" javaType="java.lang.String"/>
		<result property="avgUpdTime" column="AVG_UPD_TIME" javaType="int"/>
		<result property="visitCnt" column="VISIT_CNT" javaType="int"/>
		<result property="docCnt" column="DOC_CNT" javaType="int"/>
		<result property="firstVisitDate" column="FIRST_VISIT_DATE" javaType="java.util.Date"/>
		<result property="lastVisitDate" column="LAST_VISIT_DATE" javaType="java.util.Date"/>
		<result property="friendsCnt" column="FRIENDS_CNT" javaType="int"/>
		<result property="firstDocDate" column="FIRST_DOC_DATE" javaType="java.util.Date"/>
		<result property="lastDocDate" column="LAST_DOC_DATE" javaType="java.util.Date"/>
		<result property="activeYn" column="ACTIVE_YN" javaType="java.lang.String"/>
		<result property="location" column="LOCATION" javaType="java.lang.String"/>
		<result property="language" column="LANGUAGE" javaType="java.lang.String"/>
		<result property="timezone" column="TIMEZONE" javaType="java.lang.String"/>
	</resultMap>
	<select id="selectSeedInfo" resultMap="resultMap">
		SELECT *
		FROM seed_info
	</select>
	<!-- <select id="selectSeedInfo" resultType="hMap" parameterType="int"> 
		SELECT * FROM seed_info </select> -->
	<!-- <select id="selectTopicData" resultType="hMap" parameterType="int"> 
		SELECT * FROM TPIC_INFO WHERE TPIC_SN=#{tpicSN} </select> <select id="selectRelTermInfo" 
		resultType="hMap" parameterType="int"> SELECT RELTERM_INFO.RELTERM FROM TPIC_INFO 
		JOIN RELTERM_INFO ON TPIC_INFO.TPIC_SN = RELTERM_INFO.TPIC_SN WHERE TPIC_INFO.TPIC_SN 
		= #{tpicSN}; </select> <select id="selectCategorybyTopic" resultType="int" 
		parameterType="int"> SELECT CTGRY_SN FROM CTGRY_TPIC_MAPNG WHERE TPIC_SN=#{tpicSN} 
		</select> -->
</mapper>